<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: page_head('Login')}"></head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">

<div class="card shadow p-4" style="width: 100%; max-width: 450px;">
    <div class="card-body">
        <h3 class="card-title mb-4 text-center">Register</h3>
        <p th:text="${registrationErrorMsg}"></p>
    </div>
</div>
<div th:replace="~{fragments/scripts :: footer_scripts}"></div>
</body>
</html>
