<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: page_head('Login')}"></head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">

<div class="card shadow p-4" style="width: 100%; max-width: 450px;">
    <div class="card-body">
        <h3 class="card-title mb-4 text-center">Sign In</h3>

        <form method="post" th:action="@{/login}">
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid email or password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

            <p><a class="link-opacity-100-hover" href="/register">Register</a></p>
        </form>
    </div>
</div>
<div th:replace="~{fragments/scripts :: footer_scripts}"></div>
</body>
</html>